{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
</head>
<body style="background-image:url({% static 'images/background.jpg' %})">
	<div class="form">
	<form action="login" method="post">
	{% csrf_token %}
	<p>Login</p>
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>login</button>
	<p class="message"> Not registered? </p>
	</form>
	</div>
{% for i in messages %}
{{i}}
{% endfor %}
</body>
</html>
